<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ON 9 WORD</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>

<body>
  <div id="top" class="p-3 bg-primary text-light">
    <h2>ON 9 WORD</h2>
  </div>

  {{{body}}}

  <!-- scripts for loading bootstrap related libraries -->
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>